* {
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

h2, h3 {

    /* margin-bottom: -70px; */
    min-height:1.9rem;

}

.google {
    width: 90%;
    height: 90%;
}
.contact {
    font-size: 1.1rem;
   
   

}

.whitespace {
    height: 4rem;
}

.indent {
    margin-left: 1rem;
}

.containsthanks {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#thanks {
    top: 50%;
    left: 50%;
    margin-top: 40vh;
    background-color: white;
    margin-left: 25%;
    margin-right: 25%;
    padding: 2rem;
    box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.169);
}

.thanks {
    font-size: 1.6rem;
    margin: auto;
    text-align: center;
   

}

.flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    background-color: white;
    max-width: 100%;
    margin-left: 1rem;
    
}

.flexbox > div {
    background-color: white;
    width: 45%;
    height: 45%;
    aspect-ratio: 1 / 1 ;
    max-width: 100%;
    margin: 1rem;
    text-align: center;
    font-size: 1rem;
    box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.169);
  }

#comments {
    max-width: 95%;
    padding-top: 1rem;
}


.containsvid {
    position: relative;
    padding-bottom: 75%;
    max-width: 100%;
    height: auto; 
    overflow: hidden; 
}

.containsvid iframe, .containsvid object, .containsvid embed {
    position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;  
}



@media only screen and not (pointer) and (max-width: 1080px) {
 /* for mobile devices */
    * {
        overflow: hidden;
        width: device-width;
    }

    footer {
        display: none;
        /* as in my manual testing notes; I have been at this for an interminable amount of time and cannot get it to work so I am simply
        going to hide it on mobile/smaller screens. */
    }

    html,
    body {
        overflow-x: hidden;
    }

    body {
        position: relative;
    }

    .title {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 8px;
        padding-bottom: 8px;
    }

    .header,
    .toosmall {
        display: none;
    }

    #menu__toggle {
        opacity: 0;
    }

}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;

    width: 26px;
    height: 26px;

    cursor: pointer;
    z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: white;

}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    text-align: center;
    top: 0;
    width: 100%;
    height: 350px;
    margin-top: 63px;

    padding: 10px 0;

    list-style: none;
    background-color: rgb(108, 122, 136, 0.75);
}

.menu__item {
    display: block;
    padding: 0.8rem 1.6rem;
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

.menu__item:hover {
    background-color: #CFD8DC;
}

.mobheader {
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    height: 63px;
    background-color: darkslategrey;
    font-family: "Arial", sans-serif;
    color: white;
    overflow: hidden;
}

.separator1 {
    height: 1px;
    background: darkslategray;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    width: 95%;
}

img {
    max-width: 100%;
    padding-left: 7.5%;
    padding-right: 7.5%;
}

.top2 {
    padding-bottom: 2rem;
}

.left {
    flex: 1;
    margin-left: 2rem;
    margin-top: 1rem;
}

.right {
    flex: 1;
    margin-top: 1rem;
}

.flexitainer {
   
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.flexcontent {
    padding-top: 6.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid blue;
    align-self: flex-start !important;
    top: 0;
}

.aside {
    align-self: flex-start; top: 0; border: 2px solid blue; width: 100%;
}



@media only screen and (pointer) and (max-width: 1151px) {
 /* for smaller browser windows and tablets */ 
        html,
        body {
            overflow-x: hidden;
        }

        body {
            position: relative;
        }

        .flexitainer {
            flex-direction: column;
            justify-content: flex-start; 
        }

        .flexcontent {  align-self: flex-start !important;  top: 0; border: 2px solid blue; }

        .aside {
            
            align-self: flex-start; top: 0; border: 2px solid blue;

        }

        footer {
          /*  width: 100%;
            height: 3.2rem;
            background-color: darkslategrey;
            color: white;
            text-decoration: none;
            justify-content: center;
            position: static;
            bottom: 0;
            margin-bottom: 0;
            padding-bottom: 0.5rem;
            align-self: flex-end; */
            display: none;
            /* as in my manual testing notes; I have been at this for an interminable amount of time and cannot get it to work so I am simply
            going to hide it on mobile/smaller screens. */
            
        }

        footer > p {
            padding: 1rem 1rem;
        }

        footer > a {
            display: none;
        }

        section {
            min-height: 200vh;
            
        }
        

        #anchor {
        padding-top: 0rem;
        }

        

        h1,
        h2,
        h3 {
            text-align: center;
        }

        .header,
        .toosmall {
            display: none;
        }

        .title {
            font-size: 20px;
            text-align: center;
            margin-bottom: 8px;
            padding-bottom: 8px;
        }

        #menu__toggle {
            display: none;
        }

        .separator1 {
            height: 1px;
            background: darkslategray;
            margin-bottom: 2rem;
            margin-left: 1rem;
            margin-right: 7rem;
            width: 90%;
        }

        .flexbox {
            display: flex;
            flex-wrap: wrap;
            background-color: white;
            max-width: 100%;
           max-height: 150vh;
            flex: auto;
            flex-shrink: 2;
            margin-left: 0rem;
            
        }
        
        .flexbox > div {
            
            max-height: 160vh;
            flex: 2 0 auto;
        }

       

        .flexbox > div > div .containsimg {
            height: auto;
            max-height: 100%;
            object-fit:cover;
        }
        .containsthanks {
            height: 40vh;
        }
        #thanks {
            width: 90%;
            margin-left: 3%;
            margin-bottom: 75%;
            margin-top: 50%;
   
            
        }
        

        @media screen and (orientation:landscape) {
            section {
                height: 350vh;
            }
            .flexbox > div {
                height: 150vh;
                max-height: 300vh;
            }

            .flexsec1 {
                width: 93vw;
            }

            footer {
                display: none;
            }

        }

        .menu__btn {
            display: flex;
            align-items: center;
            position: fixed;
            top: 20px;
            left: 20px;
            width: 26px;
            height: 26px;
            cursor: pointer;
            z-index: 1;
        }

        .menu__btn>span,
        .menu__btn>span::before,
        .menu__btn>span::after {
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: white;

        }

        .menu__btn>span::before {
            content: '';
            top: -8px;
        }

        .menu__btn>span::after {
            content: '';
            top: 8px;
        }

        .menu__box {
            display: block;
            position: fixed;
            visibility: hidden;
            text-align: center;
            top: 0;
            width: 100%;
            height: 350px;
            margin-top: 63px;
            padding: 10px 0;
            list-style: none;
            background-color: rgb(108, 122, 136, 0.75);
        }

        .menu__item {
            display: block;
            padding: 12px 24px;
            color: white;
            font-family: 'Arial', sans-serif;
            font-size: 30px;
            font-weight: 600;
            text-decoration: none;

        }

        .menu__item:hover {
            background-color: #CFD8DC;
        }

        img {
            max-width: 100%;

        }

        .mobheader {
            z-index: 100;
            position: fixed;
            top: 0;
            left: 0px;
            width: 100%;
            height: 63px;
            background-color: darkslategrey;
            font-family: "Arial", sans-serif;
            color: white;
           
        }

        .top {
            padding-top: 5rem;
            font-family: "Arial", sans-serif;
        }

        .top2 {
            padding-bottom: 2rem;
        }

        #greenore {
            width: 100%;
            min-width: 100% !important;
            min-height: 100% !important;
            object-fit: fill;
            align-items: center;
        }

        .cont {
            margin-bottom: 1rem;
        
            text-align: center;
        }
        .rail,
        .town,
        .fun,
        .mil {
            text-align: justify;
            padding: 5%;
            margin-left: 0rem;
            margin-right: -1.75rem;
            
            position: relative;

        }

        .flextitle {
            width: 95%;
            height: 3.5rem;
            background-color: lightskyblue;
            color: white;
            font-weight: 600;
            font-size: 1.65rem;
            text-align: center;
            align-items: center;
            justify-content: center;
            margin: auto;
            padding-top: 0.8rem;
            
        }

        .containsimg {
            margin-top: 0.5rem;
            margin-bottom: 1rem;
            
          
            position: relative;
            width: 95%;
            max-width: 95%;
            height: auto;
         
        }

        .rail > .containsimg, .fun > .containsimg {
            margin-left: 0.7rem;
            height: 120%;
        }

        .content {
            padding-left: 6.5%;
            padding-right: 2.5%;
            padding-top: 7.5%;
            padding-bottom: 7.5%;
            width: 92%;
            min-height: 30px;

        }


        .content1 {
            margin-top: -2rem;
            padding-left: 6.5%;
            padding-right: 2.5%;
            padding-top: 7.5%;
            padding-bottom: 2.5%;
            width: 89%;
            min-height: 30px;

        }

        .sec1 {
            margin-right: 2rem;
            margin-left: -1rem;
            width: 100%;
        }

        .flexsec1 {
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-top: 2rem;
            margin-left: 0.2rem;
        }

        .flexsec1 > div {
                box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.169);
                margin-bottom: 1rem;
                width: 100%;
        }

        .side2 > a {
            align-items: center;
            
            text-align: center;
        }

        @media screen and (orientation:portrait) {
            .aside { width: 100%; }
            .flexsec1 { width:86vw; }
            .flexitainer {flex-direction: column;  margin-top: 6rem;} 
            .left, .right {margin-right: 1.5rem;}
            .left { justify-content: center; align-items: center;}
            .town > .flextitle, .mil > .flextitle, .fun > .flextitle, .town > p, .mil > p { margin-right: 1.5rem;} 
        }

        

        

    }

@media only screen and (min-width: 1152px) and (orientation:landscape) {

    .mobheader, .toosmall {
        display: none;
    }
    section {
        min-height: 200vh;
    }

    .flexsec1 {
        margin-top: 2rem;
        padding-top: 1rem;
        margin-right: 0rem;
        margin-left: 3rem;
        width: 90%;
    }

    .left {
        flex: 1;
        margin-left: 2rem;
        margin-top: 1rem;
    }
    
    .right {
        flex: 3;
        margin-top: 1rem;
    }
    
    .flexitainer {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    }

    body {
        /* background: #f1f1f1; */
        background-image: url(https://assets-eu-01.kc-usercontent.com/aa24ba70-9a12-01ae-259b-7ef588a0b2ef/21818b7f-a293-4cc2-81b7-752e9695845d/header-carlingford-lough-louth.jpg);
        margin: 0;
        padding: 0;
    }

    .header {
        z-index: 200;
        position: fixed;
        list-style-type: none;
        top: 0;
        width: 100%;
        height: 63px;
        background-color: darkslategrey;
        font-family: "Arial", sans-serif;
        color: white;
        box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.319);


    }

    .main {
      margin-left: 6rem; 
      margin-bottom: 1rem;
    
    }


    .top2 {
        margin-top: 50px;
        padding-bottom: .5%;
    }

    .content {
        float: left;
        width: 70%;
        padding-top: 7.5%;
        padding-bottom: 7.5%;
        padding-left: 5%;
        min-height:30px;
       
    }

    .containsimg {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        position: relative;
        width: 100%;
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        
    }
    

    .flexcontent {
       
        flex: 2 0;
        padding-left: 3.5%;
        padding-right: 2.5%;
        padding-bottom: 4.5%;
        min-height: 30px;
        text-align: left;
        align-self: flex-start !important;
        /* quite useful for troubleshooting border: 1px solid blue; */
        
    }
    .aside {
        top: 0;
        position: sticky;
        align-self: flex-start;
      
        padding-top: 5rem;
        flex: 1 8;
        padding-bottom: 7.5%;
        color: black;
        padding-right: 2%;
        margin-right: 0.5rem;
        z-index: 50;
        max-width: 22%;
        /* this is quite useful for troubleshooting purposes border: 1px solid black; */
        
    }

    .margin {
        margin-top: 14.5rem;
    }

    .side {
        margin-top: 6em;
        overflow-wrap: normal;
        text-align: center;
    }
    .side2 {
        width: 100%;
        margin-top: 0em;
        overflow-wrap:break-word;
    }


    .align {
        float: left;
        margin-left: -5%;
        padding-top: 5%;
    }
    
    
    .content1 {
        padding-left: 7.5%;
        padding-right: 7.5%;
        padding-top: 7.5%;
        padding-bottom: 2.5%;
        width: 85%;
        min-height:30px;
       
    }

    #current {

        border-bottom: 3px solid rgba(220, 20, 60, 0.7);

    }

    .header .nav {
        width: 8%;
        float: left;
        text-align: center;
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 18px;
        padding-top: 10px;
        margin-top: 14px;
        font-family: "Arial", sans-serif;
        font-weight: 500;
        color: white;
        background-color: darkslategrey;
       /*  border-left: 1px solid;
        border-right: 1px solid;
        border-top: 2px solid;
       border-top-color: rgb(39, 64, 64);
        border-left-color: rgb(39, 64, 64);
        border-right-color: rgb(39, 64, 64); */
        text-decoration: none;
        
    }

    .header .nav:hover {
        color: rgb(200, 200, 200);
        background-color: rgba(0, 0, 0, .1);
        border-bottom: 3px solid rgb(174, 89, 89);
        font-size: 1.1rem;
        transition: 0.25s;
        
    }

    .title {
        width: 20%;
        float: left;
        font-size: 20px;
        font-weight: 700;
        padding-left: 25px;
        padding-bottom: 20px;
        text-overflow: ellipsis;
        overflow:hidden;
        white-space:nowrap;
        text-decoration: none;
        color: white;
        margin-top: 1.25rem;
    }

    .title:hover {  color: rgb(200,200,200); transition: 0.1s; }

    .links > li:hover {
    
        background-color: rgb(79, 142, 181);
        transition: 0.1s;

    
    }
   
    .sec1 {
        display: flex;
        margin-left: 0em;
        margin-top: -3em;
        width: 90%;
        text-align: center;
        font-family: "Arial", sans-serif;
    }

    #cont {
        text-align: left;
        padding-top: -3rem;
        padding-bottom: 0.3rem;
        margin-left: 0.8rem;
    }


    .flextitle {
        width: 100%;
        height: 1.5rem;
        background-color: lightskyblue;
        color: white;
        font-weight: 600;
        padding-left: 0.5rem;
        padding-top: 0.125rem;

    }

    .rail,
    .town,
    .fun,
    .mil {
        margin-left: 1rem;
    }

    .top {
        padding-top: 50px;
        text-align: center;
        font-family: "Arial", sans-serif;
    }

    section {
        overflow: auto;
        background-color: white;
        margin-left: 7vw;
        margin-right: 7vw;
        padding-top: 2rem;
        /*box-shadow: 5px 7px 5px 1px rgba(0, 0, 0, 0.319);*/
        box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.319);
    }

    #comments > input[type=text], input[type=submit], textarea {
        border: 1px solid rgb(200, 200, 200);
        border-radius: 5px;
      }

      #comments > input[type=text]:hover, textarea:hover {
        border: 1px solid rgb(20, 20, 20);
        transition: 0.3s;

      }

    #comments > textarea::placeholder {
        color: rgb(150,150,150);
    }


    #comments > input[type=submit]:hover {
        background-color: darkgray;
        transition: 0.1s;
      }


    footer {
        width: 100%;
        height: 3rem;
        background-color: darkslategrey;
        position: absolute;  
        margin-left: -1rem;
        margin-right: -2rem;
     
    
    }

    .spacer {
        flex: 1;
    }

    footer,
    footer>a {
        font-family: "Arial", sans-serif;
        color: white;
    }

    footer>p {
        float: left;
        padding-left: 25px;
    }

    footer>a {
        float: right;
        padding-right: 25px;
        padding-top: 15px;
    }
}