* {
    box-sizing: border-box;
  }

body {
    background: #f1f1f1;
    margin:0;
    padding:0;
}

.header {
    width:100%;
    height:45px;
    background-color: darkslategrey;
    font-family: "Arial", sans-serif;
    color:white;
  

}

.header a {
    width:8%;
    float:left;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 16px;
    padding-top: 10px;
    font-family: "Arial", sans-serif;
    font-weight: 500;
    color: white;
    background-color: darkslategrey;
    text-decoration: none;
}

.header a:hover {
    color: lightgray;
    background-color: rgba(0, 0, 0, .1);
}

.title {
    width:20%;
    float:left;
    font-size: 20px;
    font-weight: 700;
    padding-left: 25px;
    padding-bottom: 10px;
    
}

.header ul {
    
}

.content {
    
    width: 65%;
    padding: 5%;
}


footer {
    width:100%;
    height:70px;
    background-color: darkslategrey;
}

footer, footer > a {
    font-family: "Arial", sans-serif;
    color: white;
}

footer > p {
    float:left;
    padding-left: 25px;
}

footer > a {
    float:right;
    padding-right: 25px;
    padding-top:15px;
}